<div class="container">
    <h2>Add User</h2>
    <div class="row mt-4">
        <div class="col-md-2">

        </div>

        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName">
                </div>
                <div class="form-group">
                    <label for="inputEmail4">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Email</label>
                    <input type="email" class="form-control" id="inputAddress" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Profession</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Enter profession">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>

        <div class="col-md-2">

        </div>
    </div>

    <hr>
    <h2>User List</h2>
    <div class="row mt-4">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Profession</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Sakuntha</td>
                        <td>Bimsara</td>
                        <td>saku@gmail.com</td>
                        <td>Software Engineer</td>
                        <td>
                            <button class="btn btn-sm btn-primary">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>